/*--------------------------------------------------------------------------------------------------*/

.clLine
{
  color:                #000000;
  margin:               0.000em 0.000em 0.500em 1.375em;
  padding:              0.000em 0.000em 0.000em 0.000em;
  text-indent:          -1.375em ;
}

.clChar
{
  color:                #aa0000;
  font-family:          monospace;
  font-size:            1.125em;
  margin:               0.000em 0.250em 0.000em 0.000em;
  padding:              0.000em 0.000em 0.000em 0.000em;
}

/*--------------------------------------------------------------------------------------------------*/
