<!doctype html>
<html>
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=1.0' />
  <title>Upload File</title>
  <link rel='stylesheet' type='text/css' media='screen' href='../styles/global.css'>
  <script type='text/javascript' src='../scripts/global.js'></script>
</head>
<body>
<div id='idPanel'>
<div id='idTopbar'>
  <div id='idTopbarNavigation'>
    <a href='../index.html'><span class='clNavHome'></span></a>
    {$nav_index}
    {$nav_up}
  </div>
</div>
<div id='idContent'>

<h1>Upload File</h1>

<form id='idMain' name='varMain' method='post' action='./notes-keeper.php' enctype='multipart/form-data'>
  <input type='hidden' name='MAX_FILE_SIZE' value='20971520'>
  <input id='idFileName' name='varFileName' type='file'>
  <br>
  <br>
  <input id='idSubmitButton'    type='submit' value='Upload'>
  <input name='varFuncId'       type='hidden' value="upload_post">
  <input name='varDirCurrent'   type="hidden" value="{$dir_current}">
</form>

</div>
</div>
</body>
</html>
