/* -------------------------------------------------------------------------------- */

.pron
{
  color:                #6699FF;
  display:              block;
  font-weight:          700;
  margin:               0.000rem 0.000rem 0.500rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
}

.darkred
{
  color:                #AA0000;
  font-weight:          400;
}

.green
{
  color:                #008800;
  font-weight:          400;
}

.blue
{
  color:                #007AB3;
  font-weight:          400;
}

/* -------------------------------------------------------------------------------- */
