@charset "utf-8";

body
{
  background:           #000000;
  color:                #ffffff;
  font-family:          'Noto Sans CJK TC', sans-serif !important;
  font-style:           normal;
  font-size:            1.500em;
  font-weight:          normal;
  letter-spacing:       0.250em;
  line-height:          1.250em;
  margin:               1.000em 1.000em 1.000em 1.000em;
  padding:              0.000em 0.000em 0.000em 0.000em;
  text-align:           left;
  width:                1554px !important;
  height:               1072px !important;
}
