<div style='font-family: "Helvetica", "Arial", sans-serif !important; margin: 0 0 0 0; padding: 0 0 0 0;'>
Здравствуйте, {$strClientNameFirst} {$strClientNameLast}!<br>
<br>
Выберите метод оплаты консультации, перейдя по ссылке, указанной ниже.<br>
<br>

Ваш ключ для входа в «Кабинет» на ayurveda.help выделен жирным шрифтом:<br>
<br>
<b>{$strClientIdKey}</b><br>
<br>
Для входа в «Кабинет»:<br>
<ul>
<li>скопируйте строку, выделенную жирным шрифтом</li>
<li>перейдите по ссылке <a href='{$strRoot}'>Кабинет</a></li>
<li>вставьте скопированный ключ в окно ввода</li>
</ul>

Если не получилось скопировать строку, перейдите по этой ссылке: <a href='{$strRoot}php/cred-authentication-proc.php?varIdKey={$strClientIdKey}'>Кабинет + Ключ</a><br>
<br>
С уважением,<br>
<br>
Лина,<br>
Консультант по здоровому образу жизни<br>
Email: <a href='mailto:{$strConsultantEmail}'>{$strConsultantEmail}</a><br>
Website: <a href='{$strBlog}'>{$strBlog}</a>
</div>
