<div style='font-family: "Helvetica", "Arial", sans-serif !important; margin: 0 0 0 0; padding: 0 0 0 0;'>
Здравствуйте, {$strClientNameFirst} {$strClientNameLast}!<br>
<br>
Ваша оплата за консультацию получена. Для предоставления рекомендаций вам необходимо заполнить личную информацию, опросные формы и загрузить фотографии.<br>
<br>
Вся работа производится через <a href='{$strRoot}'>Кабинет</a></li><br>
<br>
В «Кабинете» вы сможете:<br>
<ul>
<li>заполнить личные данные</li>
<li>выслать нужные фотографии</li>
<li>заполнить опросные формы</li>
<li>сообщить об окончании заполнения опросных форм</li>
</ul>

До начала работы, пожалуйста, ознакомьтесь с «Правилами работы»  и «Отказом от ответственности».<br>
<br>
После заполнения всех опросных форм, пожалуйста, сообщите об их готовности через соответствующий пункт меню в «Кабинете».<br>
<br>
Опросные формы очень большие и для удобства их заполнение, введённая информация хранится на локальном компьютере до тех пор пока на нажата кнопка «Отправить». После этого вся введённая информация сохраняется на сервере. Это позволит заполнять формы, не опасаясь потерять уже введённые данные (сбой компьютера, случайное закрытие вкладки браузера и т.п.).<br>
<br>

Высылаю вам ключ для входа в «Кабинет».<br>
<br>

Ваш ключ выделен жирным шрифтом:<br>
<br>
<b>{$strClientIdKey}</b><br>
<br>
Для входа в «Кабинет»:<br>
<ul>
<li>скопируйте строку, выделенную жирным шрифтом</li>
<li>перейдите по ссылке <a href='{$strRoot}'>Кабинет</a></li>
<li>вставьте скопированный ключ в окно ввода</li>
</ul>

Если не получилось скопировать строку, перейдите по этой ссылке: <a href='{$strRoot}php/cred-authentication-proc.php?varIdKey={$strClientIdKey}'>Кабинет + Ключ</a><br>
<br>
С уважением,<br>
<br>
Лина,<br>
Консультант по здоровому образу жизни<br>
Email: <a href='mailto:{$strConsultantEmail}'>mailto:{$strConsultantEmail}</a>
Website: <a href='{$strBlog}'>{$strBlog}</a>
</div>
