<div style='font-family: "Helvetica", "Arial", sans-serif !important; margin: 0 0 0 0; padding: 0 0 0 0;'>
Здравствуйте, {$strClientNameFirst} {$strClientNameLast}!<br>
<br>
Ваш запрос на консультацию получен.<br>
<br>

Для получения информации о видах консультации, стоимости и методов оплаты, перейдите по этой ссылке: <a href='{$strRoot}php/cred-authentication-proc.php?varIdKey={$strClientIdKey}'>Кабинет</a><br>
<br>
С уважением,<br>
<br>
Лина,<br>
Консультант по здоровому образу жизни<br>
Email: <a href='mailto:{$strConsultantEmail}'>{$strConsultantEmail}</a><br>
Website: <a href='{$strBlog}'>{$strBlog}</a>
</div>
