<div style='font-family: "Helvetica", "Arial", sans-serif !important; margin: 0 0 0 0; padding: 0 0 0 0;'>
Здравствуйте, {$strClientNameFirst} {$strClientNameLast}!<br>
<br>
Ваше сообщение о готовности форм к обработке получено. Анализ и обработка форм занимает до 15 рабочих дней. После завершения обработки и готовности рекомендации вам будет выслано сообщение.<br>
<br>
С уважением,<br>
<br>
Лина,<br>
Консультант по здоровому образу жизни<br>
Email: <a href='mailto:{$strConsultantEmail}'>{$strConsultantEmail}</a><br>
Website: <a href='{$strBlog}'>{$strBlog}</a>
</div>
