<div style='font-family: "Helvetica", "Arial", sans-serif !important; margin: 0 0 0 0; padding: 0 0 0 0;'>
Здравствуйте, {$strClientNameFirst} {$strClientNameLast}!<br>
<br>
Ваш выбор консультационного пакета и метода оплаты получены.<br>
Консультационный пакет: {$strPackageName}<br>
Метод оплаты: {$strPaymentMethodName}<br>
<br>

Для получения информации о реквизитах платежа, перейдите по этой ссылке: <a href='{$strRoot}php/cred-authentication-proc.php?varIdKey={$strIdKey}'>Кабинет</a><br>
<br>
С уважением,<br>
<br>
Лина,<br>
Консультант по здоровому образу жизни<br>
<a href='{$strBlog}'>{$strBlog}</a>
</div>
