<div style='font-family: "Helvetica", "Arial", sans-serif !important; margin: 0 0 0 0; padding: 0 0 0 0;'>
Здравствуйте, {$strClientNameFirst} {$strClientNameLast}!<br>
<br>
Вы запросили восстановление ключа для входа в «Кабинет» на ayurveda.help.<br>
Ваш ключ выделен жирным шрифтом:<br>
<br>
<b>$strIdKey</b><br>
<br>
Для входа в  «Кабинет»:<br>
<ul>
<li>скопируйте строку, выделенную жирным шрифтом</li>
<li>перейдите по ссылке <a href='{$strRoot}'>Kабинет</a></li>
<li>вставьте скопированный ключ в окно ввода</li>
</ul>
С уважением,<br>
<br>
Лина,<br>
Консультант по здоровому образу жизни<br>
<a href='{$strBlog}'>{$strBlog}</a>
</div>
