@charset "utf-8";

html
{
  font-size:            16px;
}

body
{
  font-weight:          normal;
  line-height:          1.250rem;
  margin:               2.000rem 15.000rem 0.000rem 15.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
  text-align:           left;
}

.clFont1
{
  font-family:          'Noto Sans' !important;
  font-style:           normal;
}

.clFont2
{
  font-family:          'Roboto' !important;
  font-style:           normal;
}

.clFont3
{
  font-family:          'Source Sans Pro' !important;
  font-style:           normal;
}

h1, h2, h3, h4, h5, h6
{
  color:                #777777;
  font-weight:          500;
  margin:               1.000rem 0.000rem 1.000rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
}

/* https://www.w3schools.com/colors/colors_hexadecimal.asp */

/* h1 { color:    hsl(020, 080%, 050%); font-size:    1.300rem; } */ /* #e65e19 */

h1 { color:    hsl(020, 080%, 040%); font-size:    1.300rem; } /* #       */

h2 { color:    hsl(120, 080%, 030%); font-size:    1.200rem; } /* #0f8a0f */
h3 { color:    hsl(210, 080%, 040%); font-size:    1.100rem; } /* #1466b8 */

h4 { color:    hsl(320, 070%, 040%); font-size:    1.000rem; } /* #ad1f7e */
h5 { color:    hsl(186, 070%, 035%); font-size:    1.000rem; } /* #1b8b98 */
h6 { color:    hsl(160, 060%, 035%); font-size:    1.000rem; } /* #6666cc */
