<h3>Кабинет консультанта</h3>

<br>

<h4>Работа с клиентом</h4>
<p><a href='./admin-client-add-page.php?varIdKey=$strIdKey'>Добавление</a></p>
<p><a href='./admin-client-delete-page.php?varIdKey=$strIdKey'>Удаление</a></p>
<p><a href='./admin-client-search-page.php?varIdKey=$strIdKey'>Поиск</a></p>

<br>

<h4>Отчёты о клиентах</h4>
<p><a href='./admin-clients-show-consulted-proc.php?varIdKey=$strIdKey'>Законченные</a></p>
<p><a href='./admin-clients-show-completed-proc.php?varIdKey=$strIdKey'>Заполнившие</a></p>
<p><a href='./admin-clients-show-activated-proc.php?varIdKey=$strIdKey'>Активированные</a></p>
<p><a href='./admin-clients-show-paid-proc.php?varIdKey=$strIdKey'>Оплатившие</a></p>
<p><a href='./admin-clients-show-requested-proc.php?varIdKey=$strIdKey'>Запросившие</a></p>
<p><a href='./admin-clients-show-contacted-proc.php?varIdKey=$strIdKey'>Обратившиеся</a></p>

<div id='idExitLink'>
  <a onClick='fncExitCabinet();' href='javascript:void(0)'>Выход из кабинета</a>
</div>
