<h3 id='idHeader3'>Кабинет - $strClientNameFirst $strClientNameLast</h3>

<h4 id='idHeader4'>Отказ от ответственности</h4>

<p>Мои консультации по стилю жизни в соответствии с Аюрведой не заменяют лечения у докторов.</p>
<p>Все ранее выполняемые предписания врачей и лекарства не прекращаются. </p>
<p>Я не лечу, а помогаю восстанавливать баланс и гармонию организма, и организм уже лечит сам себя. Мои советы по образу жизни, соответствующие Вашему аюрведическому типу не являются панацеей от ваших проблем, это только путеводитель для восстановления баланса организма.</p>
<p>Я рассказываю как можно жить в гармонии, в соответствии со своей аюрведической конституцией.</p>
<p>Вся ответственность за принятие решений о следовании моим советам лежит только на вас.</p>
<p>Лина</p>

<div id='idExitLink'>
  <a href='./client-cabinet-page.php?varIdKey=$strIdKey'>На главную страницу кабинета</a>
</div>
