<h3 id='idHeader3'>Кабинет - $strClientNameFirst $strClientNameLast</h3>
<!-- <h4 id='idHeader4'>Рекомендации - $strRecommendationDirName</h4> -->
<!-- <h4 id='idHeader4'>$strRecommendationFileName</h4> -->
<!------------------------------------------------------------------------------------------------->

$strPageRecommendation

<!------------------------------------------------------------------------------------------------->
<div id='idExitLink'>
  <a class='clLink' href='./client-print-page.php?varIdKey=$strIdKey&amp;varClientNameLast=$strClientNameLast&amp;varClientNameFirst=$strClientNameFirst&amp;varRecommendationDir=$strRecommendationDir&amp;varRecommendationFile=$strRecommendationFile'>Версия для печати</a>
  <br>
  <br>
  <a class='clLink' href='./client-cabinet-page.php?varIdKey=$strIdKey'>На главную страницу кабинета</a>
</div>
