<h3 id='idHeader3'>Кабинет - $strClientNameFirst $strClientNameLast</h3>

<h4 id='idHeader4'>Правила работы</h4>

<p>При переписке пожалуйста пишите имя и фамилию, под которыми вы зарегистрированы в «Кабинете».</p>
<p>На вопросы отвечайте, основываясь на состоянии последних 3-х месяцев. Все резкие изменение, происходившие раньше, опишите в свободном поле для дополнительных сведений.
Результаты анализов докторов, дополнительные фото, отдельные фото языка, мочи присылать не надо.</p>
<p>Если помните что-то из прошлого, истории с наследственностью - опишите это в свободной форме в окне “Дополнительные сведения”</p>
<p>Из ответов выбирайте то, что подходит наиболее точно. Если ваши ответу будут приблизительны, то так же приблизительно будет определено ваше состояние. Рекомендации будут даны в соответствии с вашими ответами.</p>
<p>ОБЯЗАТЕЛЬНО постарайтесь определиться со вкусом во рту. Он является одним из основных  при определении викрити.</p>
<p>Вкус во рту может быть: горький, сладкий, кислый, вяжущий, соленый, нейтральный.</p>
<p>Если он присутствует, то его ни с чем не спутаешь, он может быть: «сладкий до тошноты», «постоянная горечь», «постоянная кислятина во рту», «вяжет так, как будто неспелую хурму ел».</p>
<p>У некоторых зтот вкус постоянно, бывает ослабевает, усиливается.  Иногда переходит в нейтральный, потом опять возвращается. Т.е. если он есть – его чувствуют. Даже если нейтральный бывает, все равно иногда к чему-то есть склонность, периодически может проявляться другой вкус. Понаблюдайте за собой в техение нескольких дней. Если ничего не чувствуете, не старайтесь подогнать к чему-то, пишите, как есть.</p>
<p>Описывать вкусы, которые вы любите, не надо - это кулинарные пристрастия, они не имеют отношения в ощущениям во рту. О любимых пищевых вкусах (пристрастиях) нужно писать в отдельном разделе.</p>
<p>Если никак не можете определиться со вкусом во рту, то в этом случае обязательно проведите тест с мочой и кунжутным маслом (на другое масло  не заменять, будет не показательно). Некоторые пропускают этот тест, хотя он очень показателен. Постарайтесь найти кунжутное масло, оно вам пригодится при аюрведических процедурах.</p>
<p>Так же очень внимательно отнеситесь к описанию мочи, кала. Это очень важные показатели. Вместе с фотографиями это даст полную картину.
Я обрабатываю ваши ответы, задаю уточняющие вопросы и через несколько дней после получения от вас уведомления о готовности всех форм к обработке я размещаю рекомендации в вашем «Кабинете».</p>
<p>Обработка, как правило, занимает до 10 рабочих дня (исключая выходные), в зависимости от количества поступивших анкет (заранее никогда нельзя сказать точно).</p>
<p>При заполнении «Опросных форм», введённая информация хранится на вашем компьютере до тех пор пока не нажата кнопка «Отправить». Если вам необходимо прерваться во время заполнения «Опросной формы» нажмите кнопку «Отправить». Если программа-обозреватель была случайно закрыта или произошёл сбой и перезагрузка компьютера, введённая информация будет сохранена в cookies. Введённая информация будет удалена из вашего компьютера после нажатия кнопки «Отправить».</p>
<p>Успехов в заполнении!</p>


<div id='idExitLink'>
  <a href='./client-cabinet-page.php?varIdKey=$strIdKey'>На главную страницу кабинета</a>
</div>
