<h3 id='idHeader3'>Кабинет - $strClientNameFirst $strClientNameLast</h3>

<h4 id='idHeader4'>Правила работы</h4>

<p>При переписке пожалуйста пишите имя и фамилию, под которыми вы зарегистрированы в «Кабинете».</p>
<p>Старайтесь заполнять анкеты С ПЕРСОНАЛЬНОГО КОМПЬЮТЕРА, так как заполнение с телефонов и планшетов не всегда бывает успешным из-за множества разных настроек, которые могут плохо работать с программой  Кабинета.</p>
<p>Перед заполнением ВНИМАТЕЛЬНО ПРОЧИТАЙТЕ «Правила работы», которые большинство пропускают и потом задают те же вопросы в личной переписке.</p>
<p>Информацию для «Дополнительных сведений» рекомендуется сохранять у себя на компьютере, и потом копировать в раздел «Дополнительные сведения», а не  заполнять сразу on-line в Кабинете.</p>
<p>Из-за  разных настроек всевозможных девайсов могут быть технические нестыковки, и информация может не сохраниться.</p>
<p>Если что-то не сработает, ваш труд не будет потрачен даром и все можно будет легко восстановить.</p>
<p>На вопросы отвечайте, основываясь на состоянии последних 3-х месяцев.</p>
<p>Все резкие изменение, происходившие раньше, опишите в свободном поле для дополнительных сведений.</p>
<p>Проблемы, которые были по жизни раньше - опишите это в свободной форме в окне «Дополнительные сведения».</p>
<p>Результаты анализов докторов, дополнительные фото, отдельные фото языка, мочи присылать не надо.</p>
<p>Из ответов выбирайте то, что подходит наиболее близко, ничего не пропуская.</p>
<p>------------------------------</p>
<p>ОБЯЗАТЕЛЬНО ПОСТАРАЙТЕСЬ ОПРЕДЕЛИТЬСЯ СО ВКУСОМ ВО РТУ. ОН ЯВЛЯЕТСЯ ОДНИМ ИЗ ОСНОВНЫХ ПРИ ОПРЕДЕЛЕНИИ ВИКРИТИ.</p>
<p>Вкус во рту может быть: горький, сладкий, кислый, вяжущий, соленый.</p>
<p>Если он присутствует, то его ни с чем не спутаешь, он может быть: «сладкий до тошноты», «постоянная горечь», «постоянная кислятина во рту», «вяжет так, как будто неспелую хурму ел».</p>
<p>У некоторых этот вкус присутствует постоянно, бывает ослабевает, усиливается, иногда переходит в нейтральный, потом опять возвращается. Т.е. если он есть – его чувствуют. Даже если нейтральный бывает, все равно иногда к чему-то есть склонность, периодически может проявляться другой вкус. Понаблюдайте за собой в течение нескольких дней перед заполнением.</p>
<p>ЕСЛИ НИЧЕГО НЕ ЧУВСТВУЕТЕ, НЕ СТАРАЙТЕСЬ ПОДОГНАТЬ К ЧЕМУ-ТО, ПОДБИРАЯ ЕГО МЕТОДОМ ИСКЛЮЧЕНИЙ. ПИШИТЕ, КАК ЕСТЬ В РАЗДЕЛЕ «ДОПОЛНИТЕЛЬНЫЕ СВЕДЕНИЯ».</p>
<p>О любимых пищевых вкусах (пристрастиях) нужно писать в отдельном разделе,  в 1-й анкете, где описывается режим питания.</p>
<p>Питание там описывайте в кулинарных терминах, а не « Я ем первое и второе».</p>
<p>-----------------------------</p>
<p>Постарайтесь  обязательно провести ТЕСТ МОЧИ С КУНЖУТНЫМ МАСЛОМ.</p>
<p>НА ДРУГОЕ МАСЛО НЕ ЗАМЕНЯТЬ, БУДЕТ НЕ ПОКАЗАТЕЛЬНО.</p>
<p>Постарайтесь найти кунжутное масло, оно вам пригодится при аюрведических процедурах.</p>
<p>------------------------------------</p>
<p>Так же очень внимательно отнеситесь к описанию мочи, кала.</p>
<p>В ДОПОЛНИТЕЛЬНОМ ОКНЕ ПРИ ОПИСАНИИ КАЛА ОПИСЫВАЙТЕ КОЛИЧЕСТВО И ЧАСТОТУ ОПОРОЖНЕНИЙ.</p>
<p>-------------------------------------</p>
<p>Если у вас (женщин)  отсутствуют менструации, все равно заполняйте все ответы, описывайте то, как было по жизни, отметив в дополнительных сведениях по какой причине сейчас нет менструаций (беременность, менопауза).</p>
<p>Если какая-то необычная слюна (очень густая, плотная, или очень избыточная, водянистая) - тоже отметьте в  дополнительных сведениях.</p>
<p>Там же расскажите о том, как легко/трудно вы НАБИРАЕТЕ ВЕС.</p>
<p>В разделе о КЛИМАТЕ  пишите в климатических терминах, а не «Мне нравится там, где я живу». Это мне ни о чем не говорит, так как я не могу знать всех климатических тонкостей разных мест.</p>
<p>Все это очень важные показатели. Вместе с фотографиями это даст полную картину. Я обрабатываю ваши ответы, задаю уточняющие вопросы и размещаю рекомендации в вашем «Кабинете».</p>
<p>Обработка, как правило, занимает до 10-15 рабочих дня (исключая выходные), в зависимости от количества поступивших анкет (заранее никогда нельзя сказать точно).</p>
<p>При заполнении «Опросных форм», введённая информация хранится на вашем компьютере до тех пор пока не нажата кнопка «Отправить». Если вам необходимо прерваться во время заполнения «Опросной формы» нажмите кнопку «Отправить».</p>
<p>Если программа-обозреватель была случайно закрыта или произошёл сбой и перезагрузка компьютера, введённая информация будет сохранена в cookies.</p>
<p>Введённая информация будет удалена из вашего компьютера после нажатия кнопки «Отправить».</p>
<p>Успехов в заполнении!</p>

<div id='idExitLink'>
  <a href='./client-cabinet-page.php?varIdKey=$strIdKey'>На главную страницу кабинета</a>
</div>
