<h3 id='idHeader3'>Кабинет - $strClientNameFirst $strClientNameLast</h3>
<div id='idRegulations'>
  <a href='./client-rules-page.php?varIdKey=$strIdKey&amp;varClientNameLast=$strClientNameLast&amp;varClientNameFirst=$strClientNameFirst'>Правила работы</a><br>
  <a href='./client-disclaimer-page.php?varIdKey=$strIdKey&amp;varClientNameLast=$strClientNameLast&amp;varClientNameFirst=$strClientNameFirst'>Отказ от ответственности</a><br>
  <a href='./client-letters-page.php?varIdKey=$strIdKey&amp;varClientNameLast=$strClientNameLast&amp;varClientNameFirst=$strClientNameFirst&amp;varForm=99&amp;varFields=1'>Архив переписки с консультантом</a><br>
</div>
<h4>Опросные формы</h4>
<div id='idForms'>
  <a href='./client-form-page.php?varIdKey=$strIdKey&amp;varClientNameLast=$strClientNameLast&amp;varClientNameFirst=$strClientNameFirst&amp;varForm=1&amp;varFields=4'>Личные сведения</a><br>
  <a href='./client-photo-page.php?varIdKey=$strIdKey&amp;varClientNameLast=$strClientNameLast&amp;varClientNameFirst=$strClientNameFirst'>Фотографии</a><br>
  <a href='./client-form-page.php?varIdKey=$strIdKey&amp;varClientNameLast=$strClientNameLast&amp;varClientNameFirst=$strClientNameFirst&amp;varForm=2&amp;varFields=75'>Состояние здоровья</a><br>
  <a href='./client-form-page.php?varIdKey=$strIdKey&amp;varClientNameLast=$strClientNameLast&amp;varClientNameFirst=$strClientNameFirst&amp;varForm=3&amp;varFields=52'>Определение аюрведической конституции</a><br>
  <a href='./client-form-page.php?varIdKey=$strIdKey&amp;varClientNameLast=$strClientNameLast&amp;varClientNameFirst=$strClientNameFirst&amp;varForm=4&amp;varFields=30'>Определение ментальной конституции</a><br>
  <a href='./client-form-page.php?varIdKey=$strIdKey&amp;varClientNameLast=$strClientNameLast&amp;varClientNameFirst=$strClientNameFirst&amp;varForm=5&amp;varFields=61'>Диагностика по языку</a><br>
  <a href='./client-form-page.php?varIdKey=$strIdKey&amp;varClientNameLast=$strClientNameLast&amp;varClientNameFirst=$strClientNameFirst&amp;varForm=6&amp;varFields=17'>Диагностика по выделениям</a><br>
  <a href='./client-form-page.php?varIdKey=$strIdKey&amp;varClientNameLast=$strClientNameLast&amp;varClientNameFirst=$strClientNameFirst&amp;varForm=7&amp;varFields=13'>Диагностика по моче</a><br>
  <a href='./client-form-page.php?varIdKey=$strIdKey&amp;varClientNameLast=$strClientNameLast&amp;varClientNameFirst=$strClientNameFirst&amp;varForm=8&amp;varFields=89'>Дисбаланс поддош Вата</a><br>
  <a href='./client-form-page.php?varIdKey=$strIdKey&amp;varClientNameLast=$strClientNameLast&amp;varClientNameFirst=$strClientNameFirst&amp;varForm=9&amp;varFields=52'>Дисбаланс поддош Питта</a><br>
  <a href='./client-form-page.php?varIdKey=$strIdKey&amp;varClientNameLast=$strClientNameLast&amp;varClientNameFirst=$strClientNameFirst&amp;varForm=10&amp;varFields=72'>Дисбаланс поддош Капха</a><br>
  <a href='./client-form-page.php?varIdKey=$strIdKey&amp;varClientNameLast=$strClientNameLast&amp;varClientNameFirst=$strClientNameFirst&amp;varForm=11&amp;varFields=1'>Дополнительные сведения</a><br>
</div>

<h4>Действия</h4>
<div id='idActions'>
  <a href='./client-forms-open-page.php?varIdKey=$strIdKey&amp;varClientNameLast=$strClientNameLast&amp;varClientNameFirst=$strClientNameFirst'>Запросить доступ к изменению форм</a><br>
</div>

<h4>Рекомендации</h4>
<div id='idRecommendations'>
  $strRecommendations
</div>

<div id='idExitLink'>
  <a onClick='fncExitCabinet();' href='javascript:void(0)'>Выход из кабинета</a>
</div>
