<h3 id='idHeader3'>Кабинет - $strClientNameFirst $strClientNameLast</h3>

<h4 id='idHeader4'>Правила работы</h4>

<p>При переписке пожалуйста пишите имя и фамилию, под которыми в зарегистрированы в «Кабинете».</p>
<p>На консультации определяется викрити (текущее состояние).</p>
<p>На вопросы, пожалуйста, отвечайте, основываясь на состоянии последних 3-х месяцев. Все резкие изменение, происходившие раньше, опишите в свободном поле для дополнительных сведений.</p>
<p>Истории с наследственностью, результаты анализов докторов присылать не надо. Также не присылайте лишних фото с языком, мочой. </p>
<p>Из ответов выбирайте то, что подходит наиболее точно. Если сомневаетесь, то пропустите вопрос. Если мне будет непонятно, я потом задам вам уточняющие вопросы.</p>
<p>Не уведомление о заполнении «Опросных форм», пока точно не определитесь со вкусом во рту: вяжущий, кислый, горький, сладкий или соленый.
Это -  аюрведические вкусы, по которым определяется «викрити». Нужно определить - к какому из этих вкусов ближе ваши ощущения. Если ваши ответу будут приблизительны, то так же приблизительно будет определено ваше состояние. Рекомендации будут даны в соответствии с вашими ответами. Если в дальнейшем Вы решите, что вкус во рту у вас другой – это будут совсем другие рекомендации.</p><p>Не можете сразу определить вкус – понаблюдайте несколько дней. Совсем не можете определиться, пиши то, что ощущаете в поле дополнительных сведений.</p>
<p>Так же очень внимательно отнеситесь к описанию мочи, кала. Это очень важные показатели. Вместе с фотографиями это даст полную картину.</p>
<p>Я обрабатываю ваши ответы, задаю уточняющие вопросы и через несколько дней после получения от вас уведомления о готовности всех форм к обработке я размещаю рекомендации в вашем «Кабинете». </p>
<p>Обработка, как правило, занимает 4-5 рабочих дня (исключая выходные).</p>
<p>С рекомендациями можно ознакомиться в «Кабинете». Рекомендации также предоставляются в виде, удобном для печати и сохранении.</p>
<p>При заполнении «Опросных форм», введённая информация хранится на вашем компьютере до тех пор пока не нажата кнопка «Отправить».  Если вам необходимо прерваться во время заполнения «Опросной формы» нажмите кнопку «Отправить». Если программа-обозреватель была случайно закрыта или произошёл сбой и перезагрузка компьютера, введённая информация будет сохранена в cookies. Введённая информация будет удалена из вашего компьютера после нажатия кнопки «Отправить».</p>
<p>Посылайте ваши фотографии в формате jpg. Размер фотографий желателен до одного 1-2 мегабайтов.</p>
<p>Для большей эффективности и сохранения времени (вашего и моего) я очень прошу вас дочитывать до конца то, что я буду присылать и не начинать задавать вопросов, не дочитав файл или email. Как правило, ответ содержится в следующем параграфе или обнаруживается при подробном прочитывании.</p>


<div id='idExitLink'>
  <a href='./client-cabinet-page.php?varIdKey=$strIdKey'>На главную страницу кабинета</a>
</div>
