<h3 id='idHeader3'>Кабинет - $strClientNameFirst $strClientNameLast</h3>

<h4>Сообщить о заполнении всех форм</h4>

<div class='clComments'>

<b>ВНИМАНИЕ!</b><br>
<br>
Пожалуйста, посылайте сообщение только тогда, когда заполнены <b>все</b> формы без исключения.<br>

<ol>
<li>После получения сообщения о «заполнении всех форм», доступ к изменению форм будет закрыт.</li>
<li>При возникновении потребности в изменении данных необходимо послать запрос на открытие доступа к изменению форм.</li>
<li>После получения запроса готовые рекомендации будут удалены из кабинета и доступ к изменению данных будет открыт.</li>
<li>После окончания изменения необходимо вновь сообщить об окончании «заполнения всех форм».</li>
<li>Изменённые данные потребуют повторного анализа, после которого новые рекомендации будут размещены в кабинете.</li>
<li>Анализ данных требует значительных временных затрат, по этой причине запрос на доступ к изменению форм может быть произведён только один раз.</li>
</ol>

<b>ТЩАТЕЛЬНО ПРОВЕРЯЙТЕ ВВЕДЁННЫЕ ДАННЫЕ ПЕРЕД ОТПРАВКОЙ СООБЩЕНИЯ!</b><br>
<br>
</div>

<form id='idMain' name='varMain' enctype='multipart/form-data' method='post' action='./client-forms-completed-proc.php?varIdKey=$strIdKey'>
  <input type='submit' value='Сообщить'>
</form>

<div id='idExitLink'>
  <a href='./client-cabinet-page.php?varIdKey=$strIdKey'>На главную страницу кабинета</a>
</div>
