<h3 id='idHeader3'>Кабинет - $strClientNameFirst $strClientNameLast</h3>

<h4>Запросить доступ к изменению форм</h4>

<div class='clComments'>

<b>ВНИМАНИЕ!</b><br>
<br>
Пожалуйста, посылайте запрос на доступ к изменению форм только в том случае, если произошла ошибка в заполнении данных или необходимые данные не были заполнены.<br>

<ol>
<li>После получения запроса готовые рекомендации будут удалены из кабинета и доступ к изменению форм будет открыт.</li>
<li>После окончания изменения необходимо вновь сообщить об окончании «заполнения всех форм».</li>
<li>Изменённые данные потребуют повторного анализа, после которого новые рекомендации будут размещены в кабинете.</li>
<li>Анализ данных требует значительных временных затрат, по этой причине запрос на доступ к изменению форм может быть произведён <b>только один</b> раз.</li>
</ol>
<br>
</div>

<form id='idMain' name='varMain' enctype='multipart/form-data' method='post' action='./client-forms-open-proc.php?varIdKey=$strIdKey'>
  <input type='submit' value='Сообщить'>
</form>

<div id='idExitLink'>
  <a href='./client-cabinet-page.php?varIdKey=$strIdKey'>На главную страницу кабинета</a>
</div>
