<h3>Вход в кабинет</h3>
<p>
  Запрос на консультацию, заполняется по адресу: <a href='https://ayurveda.help/consultation/'>Консультация</a>.
</p>
<p>
  После получения запроса на консультацию в кабинете размещаются виды консультации, стоимость, методы оплаты и платёжные реквизиты. После оплаты открывается доступ к опросным формам, которые необходимые заполнить для проведения консультации.
</p>
<p>
  После заполнения всех необходимых форм, производится их анализ и итоговые рекомендации размещаются в кабинете.
</p>
<p>
  В качестве идентификации используется ключ, высылаемый после ознакомления с условиями консультации и оплаты.
</p>
<br>
<form id='idMain' name='varMain' method='post' action='./cred-authentication-proc.php'>
  <p>Введите ключ:<br><br>
  <input id='idIdKey' name='varIdKey' maxlength='24' size='24'><br><br>
  <input type='button' value='Открыть' onClick='fncSubmitAuthentication();'><br><br>
</form>
<br>
<div id='idRestoreKey'>
  <a href='./cred-restoration-page.php'>Восстановить ключ</a>
</div>
