<!doctype html>
<html lang='ru-RU'>
<head>
  <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=1.0'>
  <meta name='theme-color' content='#ffffff'>
  <meta name='googlebot' content='noindex, nofollow, noarchive, nosnippet'>
  <meta name='robots' content='noindex, nofollow'>
  $strRedirect
  <title>АЮРВЕДА - Кабинет</title>
  <link rel='stylesheet' href='../css/style.css' type='text/css' media='screen'>
  <link rel='icon' type='image/x-icon' href='/favicon.ico'>
  <link rel='icon' type='image/png' sizes='32x32' href='https://ayurveda.help/favicon-32.png'>
  <link rel='icon' type='image/png' sizes='120x120' href='https://ayurveda.help/favicon-120.png'>
  <link rel='icon' type='image/png' sizes='128x128' href='https://ayurveda.help/favicon-128.png'>
  <link rel='icon' type='image/png' sizes='152x152' href='https://ayurveda.help/favicon-152.png'>
  <link rel='icon' type='image/png' sizes='167x167' href='https://ayurveda.help/favicon-167.png'>
  <link rel='icon' type='image/png' sizes='180x180' href='https://ayurveda.help/favicon-180.png'>
  <link rel='icon' type='image/png' sizes='192x192' href='https://ayurveda.help/favicon-192.png'>
  <link rel='icon' type='image/png' sizes='196x196' href='https://ayurveda.help/favicon-196.png'>
  <script type='text/javascript' src='../js/script.js'></script>
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
  <script>$(document).ready(function(){ $("#idButtonMenu").click(function(){ $("#idHeaderLine3").toggle(); }); });</script>
</head>
<body onload='$(&quot;#idHeaderLine3&quot;).hide();  $strFuncOnLoad'>
<div id='idPanel'> <!-- idPanel begin -->
  <div id='idHeader'> <!-- idHeader begin -->
    <div id='idHeaderLine1'>
      <div id='idLogo'><a href='https://ayurveda.help'>АЮРВЕДА</a></div>
      <div id='idButtonMenu'>&#xf0c9;</div>
    </div>
    <div class='clClear'></div>
    <div id='idHeaderLine2'>
      <div id='idHeaderConsultations'><a href='https://ayurveda.help/consultation/'>консультации</a></div>
      <!--noindex-->
<!--
      <div id='idSocialF3'><a rel='nofollow' target='_blank' href='https://zen.yandex.ru/id/5ec0bfd89503d838e3eb8da7/'>&#xf413;</a></div>
-->
      <div id='idSocialL'><a rel='nofollow' target='_blank' href='http://nilulin.livejournal.com/'>&#xf303;</a></div>
      <div id='idSocialF1'><a rel='nofollow' target='_blank' href='https://vk.com/lina.ayurveda'>&#xf189;</a></div>
      <div id='idSocialF2'><a rel='nofollow' target='_blank' href='https://www.facebook.com/lina.ayurveda'>&#xf39e;</a></div>
      <div id='idSocialF3'><a rel='nofollow' target='_blank' href='https://t.me/ayurveda_helpp'>&#xf3fe;</a></div>
      <!--/noindex-->
    </div>
    <div class='clClear'></div>
    <div id='idHeaderLine3'>
      <div class='clMenuEntry'><a rel='nofollow' href='https://cabinet.ayurveda.help/'>кабинет</a></div>
      <div class='clMenuEntry'><a href='https://ayurveda.help/index/'>индекс</a></div>
      <div class='clMenuEntry'><a href='https://ayurveda.help/categories/'>темы</a></div>
      <div class='clMenuEntry'><a href='https://ayurveda.help/author/'>автор</a></div>
      <div class='clMenuEntry clMenuEntryLast'><a href='https://ayurveda.help/'>блог</a></div>
    </div>
    <div class='clClear'></div>
  </div> <!-- idHeader end -->
  <div id='idContent' onclick='$(&quot;#idHeaderLine3&quot;).hide();'> <!-- idContent begin -->
    $strContent
  </div> <!-- idContent end -->
</div> <!-- idPanel    end -->
</body>
</html>
