<h3 id='idHeader3'>Кабинет - $strClientNameFirst $strClientNameLast</h3>
<h4 id='idHeader4'>Опроснaя формa - Определение ментальной конституции</h4>

<form id='idMain' name='varMain' method='post' action='./client-form-proc.php?varIdKey=$strIdKey&amp;varForm=$intForm&amp;varFields=$intFields'>

<div class='clLabel'>Диета</div>
<select id='id0401' name='var0401' title='$arrValues[1]' onBlur='fncOnBlur( this )'>
  <option value=''></option>
  <option value='Вегетарианская'>Вегетарианская</option>
  <option value='Легкая мясная'>Легкая мясная</option>
  <option value='Тяжелая мясная'>Тяжелая мясная</option>
</select>
<div class='clLabel'>Употребление наркотиков, алкоголя, стимулирующих веществ</div>
<select id='id0402' name='var0402' title='$arrValues[2]' onBlur='fncOnBlur( this )'>
  <option value=''></option>
  <option value='Никогда'>Никогда</option>
  <option value='Иногда'>Иногда</option>
  <option value='Часто'>Часто</option>
</select>
<div class='clLabel'>Состояние</div>
<select id='id0403' name='var0403' title='$arrValues[3]' onBlur='fncOnBlur( this )'>
  <option value=''></option>
  <option value='Спокойное'>Спокойное</option>
  <option value='Переменчивое'>Переменчивое</option>
  <option value='Тревожное'>Тревожное</option>
</select>
<div class='clLabel'>Потребность в отдыхе</div>
<select id='id0404' name='var0404' title='$arrValues[4]' onBlur='fncOnBlur( this )'>
  <option value=''></option>
  <option value='Маленькая'>Маленькая</option>
  <option value='Средняя'>Средняя</option>
  <option value='Большая'>Большая</option>
</select>
<div class='clLabel'>Сексуальная активность</div>
<select id='id0405' name='var0405' title='$arrValues[5]' onBlur='fncOnBlur( this )'>
  <option value=''></option>
  <option value='Низкая'>Низкая</option>
  <option value='Средняя'>Средняя</option>
  <option value='Высокая'>Высокая</option>
</select>
<div class='clLabel'>Контроль чувств</div>
<select id='id0406' name='var0406' title='$arrValues[6]' onBlur='fncOnBlur( this )'>
  <option value=''></option>
  <option value='Хороший'>Хороший</option>
  <option value='Средний'>Средний</option>
  <option value='Слабый'>Слабый</option>
</select>
<div class='clLabel'>Манера разговора</div>
<select id='id0407' name='var0407' title='$arrValues[7]' onBlur='fncOnBlur( this )'>
  <option value=''></option>
  <option value='Спокойная и доброжелательная'>Спокойная и доброжелательная</option>
  <option value='Возбужденная'>Возбужденная</option>
  <option value='Скучная'>Скучная</option>
</select>
<div class='clLabel'>Опрятность</div>
<select id='id0408' name='var0408' title='$arrValues[8]' onBlur='fncOnBlur( this )'>
  <option value=''></option>
  <option value='Хорошая'>Хорошая</option>
  <option value='Средняя'>Средняя</option>
  <option value='Плохая'>Плохая</option>
</select>
<div class='clLabel'>Отношение к работе</div>
<select id='id0409' name='var0409' title='$arrValues[9]' onBlur='fncOnBlur( this )'>
  <option value=''></option>
  <option value='Бескорыстное'>Бескорыстное</option>
  <option value='Стремление к результату'>Стремление к результату</option>
  <option value='Ленивое'>Ленивое</option>
</select>
<div class='clLabel'>Гнев</div>
<select id='id0410' name='var0410' title='$arrValues[10]' onBlur='fncOnBlur( this )'>
  <option value=''></option>
  <option value='Редко'>Редко</option>
  <option value='Иногда'>Иногда</option>
  <option value='Часто'>Часто</option>
</select>
<div class='clLabel'>Страхи</div>
<select id='id0411' name='var0411' title='$arrValues[11]' onBlur='fncOnBlur( this )'>
  <option value=''></option>
  <option value='Редко'>Редко</option>
  <option value='Иногда'>Иногда</option>
  <option value='Часто'>Часто</option>
</select>
<div class='clLabel'>Желания</div>
<select id='id0412' name='var0412' title='$arrValues[12]' onBlur='fncOnBlur( this )'>
  <option value=''></option>
  <option value='Немного'>Немного</option>
  <option value='Средне'>Средне</option>
  <option value='Много'>Много</option>
</select>
<div class='clLabel'>Присутствие гордыни</div>
<select id='id0413' name='var0413' title='$arrValues[13]' onBlur='fncOnBlur( this )'>
  <option value=''></option>
  <option value='Сдержанность'>Сдержанность</option>
  <option value='Эго'>Эго</option>
  <option value='Тщеславие'>Тщеславие</option>
</select>
<div class='clLabel'>Депресия</div>
<select id='id0414' name='var0414' title='$arrValues[14]' onBlur='fncOnBlur( this )'>
  <option value=''></option>
  <option value='Никогда'>Никогда</option>
  <option value='Иногда'>Иногда</option>
  <option value='Часто'>Часто</option>
</select>
<div class='clLabel'>Чувство любви</div>
<select id='id0415' name='var0415' title='$arrValues[15]' onBlur='fncOnBlur( this )'>
  <option value=''></option>
  <option value='Всеобъемлющее'>Всеобъемлющее</option>
  <option value='К личности'>К личности</option>
  <option value='Отсутствие чувства любви'>Отсутствие чувства любви</option>
</select>
<div class='clLabel'>Насилие</div>
<select id='id0416' name='var0416' title='$arrValues[16]' onBlur='fncOnBlur( this )'>
  <option value=''></option>
  <option value='Никогда'>Никогда</option>
  <option value='Иногда'>Иногда</option>
  <option value='Часто'>Часто</option>
</select>
<div class='clLabel'>Привязанность к деньгам</div>
<select id='id0417' name='var0417' title='$arrValues[17]' onBlur='fncOnBlur( this )'>
  <option value=''></option>
  <option value='Маленькая'>Маленькая</option>
  <option value='Средняя'>Средняя</option>
  <option value='Большая'>Большая</option>
</select>
<div class='clLabel'>Чувство удовлетворенности</div>
<select id='id0418' name='var0418' title='$arrValues[18]' onBlur='fncOnBlur( this )'>
  <option value=''></option>
  <option value='Всегда'>Всегда</option>
  <option value='Иногда'>Иногда</option>
  <option value='Никогда'>Никогда</option>
</select>
<div class='clLabel'>Прощение</div>
<select id='id0419' name='var0419' title='$arrValues[19]' onBlur='fncOnBlur( this )'>
  <option value=''></option>
  <option value='Легко прощаете'>Легко прощаете</option>
  <option value='Прощаете с трудом'>Прощаете с трудом</option>
  <option value='Долго помните неприязнь'>Долго помните неприязнь</option>
</select>
<div class='clLabel'>Концентрация</div>
<select id='id0420' name='var0420' title='$arrValues[20]' onBlur='fncOnBlur( this )'>
  <option value=''></option>
  <option value='Хорошая'>Хорошая</option>
  <option value='Средняя'>Средняя</option>
  <option value='Плохая'>Плохая</option>
</select>
<div class='clLabel'>Память</div>
<select id='id0421' name='var0421' title='$arrValues[21]' onBlur='fncOnBlur( this )'>
  <option value=''></option>
  <option value='Хорошая'>Хорошая</option>
  <option value='Средняя'>Средняя</option>
  <option value='Слабая'>Слабая</option>
</select>
<div class='clLabel'>Мотивация</div>
<select id='id0422' name='var0422' title='$arrValues[22]' onBlur='fncOnBlur( this )'>
  <option value=''></option>
  <option value='Сильная'>Сильная</option>
  <option value='Переменчивая'>Переменчивая</option>
  <option value='Слабая'>Слабая</option>
</select>
<div class='clLabel'>Правдивость</div>
<select id='id0423' name='var0423' title='$arrValues[23]' onBlur='fncOnBlur( this )'>
  <option value=''></option>
  <option value='Всегда'>Всегда</option>
  <option value='Большую часть'>Большую часть</option>
  <option value='Редко'>Редко</option>
</select>
<div class='clLabel'>Честность</div>
<select id='id0424' name='var0424' title='$arrValues[24]' onBlur='fncOnBlur( this )'>
  <option value=''></option>
  <option value='Всегда'>Всегда</option>
  <option value='Большую часть'>Большую часть</option>
  <option value='Редко'>Редко</option>
</select>
<div class='clLabel'>Спокойствие духа</div>
<select id='id0425' name='var0425' title='$arrValues[25]' onBlur='fncOnBlur( this )'>
  <option value=''></option>
  <option value='Постоянно'>Постоянно</option>
  <option value='Временами'>Временами</option>
  <option value='Редко'>Редко</option>
</select>
<div class='clLabel'>Творческие наклонности</div>
<select id='id0426' name='var0426' title='$arrValues[26]' onBlur='fncOnBlur( this )'>
  <option value=''></option>
  <option value='Большие'>Большие</option>
  <option value='Средние'>Средние</option>
  <option value='Низкие'>Низкие</option>
</select>
<div class='clLabel'>Изучение духовных книг</div>
<select id='id0427' name='var0427' title='$arrValues[27]' onBlur='fncOnBlur( this )'>
  <option value=''></option>
  <option value='Ежедневно'>Ежедневно</option>
  <option value='Иногда'>Иногда</option>
  <option value='Никогда'>Никогда</option>
</select>
<div class='clLabel'>Молитвы,мантры</div>
<select id='id0428' name='var0428' title='$arrValues[28]' onBlur='fncOnBlur( this )'>
  <option value=''></option>
  <option value='Ежедневно'>Ежедневно</option>
  <option value='Иногда'>Иногда</option>
  <option value='Никогда'>Никогда</option>
</select>
<div class='clLabel'>Медитации</div>
<select id='id0429' name='var0429' title='$arrValues[29]' onBlur='fncOnBlur( this )'>
  <option value=''></option>
  <option value='Ежедневно'>Ежедневно</option>
  <option value='Иногда'>Иногда</option>
  <option value='Никогда'>Никогда</option>
</select>
<div class='clLabel'>Волонтёрская помощь</div>
<select id='id0430' name='var0430' title='$arrValues[30]' onBlur='fncOnBlur( this )'>
  <option value=''></option>
  <option value='Часто'>Часто</option>
  <option value='Иногда'>Иногда</option>
  <option value='Никогда'>Никогда</option>
</select>

<div id='idSubmit'>
  <input type='button' value='Отправить' onClick='fncSubmitForm( $intForm, $intFields );'>
  <input id='idFormsCompleted' type='hidden' value='$strFormsCompleted'>
</div>
</form>

<div id='idExitLink'>
  <a href='./client-cabinet-page.php?varIdKey=$strIdKey'>На главную страницу кабинета</a>
</div>
