<h3 id='idHeader3'>Кабинет - $strClientNameFirst $strClientNameLast</h3>
<h4 id='idHeader4'>Опроснaя формa - Дисбаланс поддош Вата</h4>

<div class='clComments'>
Перечислите все имеющиеся симптомы.
</div>
<br>

<form id='idMain' name='varMain' method='post' action='./client-form-proc.php?varIdKey=$strIdKey&amp;varForm=$intForm&amp;varFields=$intFields'>

<table>
<tr><th colspan='2'>Прана-Вайю</th></tr>
<tr><td><input id='id0801' name='var0801' type='checkbox' placeholder='$arrValues[1]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>бессонница</td></tr>
<tr><td><input id='id0802' name='var0802' type='checkbox' placeholder='$arrValues[2]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>тревога</td></tr>
<tr><td><input id='id0803' name='var0803' type='checkbox' placeholder='$arrValues[3]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>учащении дыхания</td></tr>
<tr><td><input id='id0804' name='var0804' type='checkbox' placeholder='$arrValues[4]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>одышка</td></tr>
<tr><td><input id='id0805' name='var0805' type='checkbox' placeholder='$arrValues[5]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>астма</td></tr>
<tr><td><input id='id0806' name='var0806' type='checkbox' placeholder='$arrValues[6]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>потеря голоса</td></tr>
<tr><td><input id='id0807' name='var0807' type='checkbox' placeholder='$arrValues[7]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>охриплость</td></tr>
<tr><td><input id='id0808' name='var0808' type='checkbox' placeholder='$arrValues[8]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>сухой кашель</td></tr>
<tr><td><input id='id0809' name='var0809' type='checkbox' placeholder='$arrValues[9]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>икота</td></tr>
<tr><td><input id='id0810' name='var0810' type='checkbox' placeholder='$arrValues[10]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>головные боли с повышенным давлением</td></tr>
<tr><td><input id='id0811' name='var0811' type='checkbox' placeholder='$arrValues[11]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>дрожь головы</td></tr>
<tr><td><input id='id0812' name='var0812' type='checkbox' placeholder='$arrValues[12]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>головокружение</td></tr>
<tr><td><input id='id0813' name='var0813' type='checkbox' placeholder='$arrValues[13]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>упадок сил</td></tr>
<tr><td><input id='id0814' name='var0814' type='checkbox' placeholder='$arrValues[14]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>обмороки</td></tr>
<tr><td><input id='id0815' name='var0815' type='checkbox' placeholder='$arrValues[15]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>эмоциональная неустойчивость</td></tr>
<tr><td><input id='id0816' name='var0816' type='checkbox' placeholder='$arrValues[16]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>дезориентация</td></tr>
<tr><td><input id='id0817' name='var0817' type='checkbox' placeholder='$arrValues[17]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>страх</td></tr>
<tr><td><input id='id0818' name='var0818' type='checkbox' placeholder='$arrValues[18]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>оторванность от реальности</td></tr>
<tr><td><input id='id0819' name='var0819' type='checkbox' placeholder='$arrValues[19]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>переутомление</td></tr>
<tr><td><input id='id0820' name='var0820' type='checkbox' placeholder='$arrValues[20]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>истощение</td></tr>
<tr><td><input id='id0821' name='var0821' type='checkbox' placeholder='$arrValues[21]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>общая болезненность</td></tr>
<tr><td><input id='id0822' name='var0822' type='checkbox' placeholder='$arrValues[22]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>одряхление</td></tr>
<tr><td><input id='id0823' name='var0823' type='checkbox' placeholder='$arrValues[23]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>обезвоживание</td></tr>
<tr><td><input id='id0824' name='var0824' type='checkbox' placeholder='$arrValues[24]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>гормональные расстройства</td></tr>
<tr><th colspan='2'>Самана-Вайю</th></tr>
<tr><td><input id='id0825' name='var0825' type='checkbox' placeholder='$arrValues[25]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>несварение</td></tr>
<tr><td><input id='id0826' name='var0826' type='checkbox' placeholder='$arrValues[26]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>пониженная усвояемость пищи</td></tr>
<tr><td><input id='id0827' name='var0827' type='checkbox' placeholder='$arrValues[27]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>понос</td></tr>
<tr><td><input id='id0828' name='var0828' type='checkbox' placeholder='$arrValues[28]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>слишком активная перистальтика</td></tr>
<tr><td><input id='id0829' name='var0829' type='checkbox' placeholder='$arrValues[29]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>слишком вялая перистальтика</td></tr>
<tr><td><input id='id0830' name='var0830' type='checkbox' placeholder='$arrValues[30]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>газы</td></tr>
<tr><td><input id='id0831' name='var0831' type='checkbox' placeholder='$arrValues[31]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>нервные спазмы в желудке</td></tr>
<tr><td><input id='id0832' name='var0832' type='checkbox' placeholder='$arrValues[32]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>брожении в животе</td></tr>
<tr><td><input id='id0833' name='var0833' type='checkbox' placeholder='$arrValues[33]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>понос</td></tr>
<tr><td><input id='id0834' name='var0834' type='checkbox' placeholder='$arrValues[34]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>диспепсия</td></tr>
<tr><td><input id='id0835' name='var0835' type='checkbox' placeholder='$arrValues[35]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>рвота</td></tr>
<tr><td><input id='id0836' name='var0836' type='checkbox' placeholder='$arrValues[36]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>обезвоживание</td></tr>
<tr><td><input id='id0837' name='var0837' type='checkbox' placeholder='$arrValues[37]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>пониженный уровень энергии</td></tr>
<tr><th colspan='2'>Вьяна-Вайю</th></tr>
<tr><td><input id='id0838' name='var0838' type='checkbox' placeholder='$arrValues[38]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>учащение сердцебиения</td></tr>
<tr><td><input id='id0839' name='var0839' type='checkbox' placeholder='$arrValues[39]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>повышенное  артериальное давление</td></tr>
<tr><td><input id='id0840' name='var0840' type='checkbox' placeholder='$arrValues[40]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>пониженное артериальное давление</td></tr>
<tr><td><input id='id0841' name='var0841' type='checkbox' placeholder='$arrValues[41]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>нарушения кровообращения</td></tr>
<tr><td><input id='id0842' name='var0842' type='checkbox' placeholder='$arrValues[42]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>аритмия сердца</td></tr>
<tr><td><input id='id0843' name='var0843' type='checkbox' placeholder='$arrValues[43]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>все заболевания нервной системы</td></tr>
<tr><td><input id='id0844' name='var0844' type='checkbox' placeholder='$arrValues[44]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'> заболевания суставов</td></tr>
<tr><td><input id='id0845' name='var0845' type='checkbox' placeholder='$arrValues[45]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>нарушения гемоглобина</td></tr>
<tr><td><input id='id0846' name='var0846' type='checkbox' placeholder='$arrValues[46]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>мышечная дрожь</td></tr>
<tr><td><input id='id0847' name='var0847' type='checkbox' placeholder='$arrValues[47]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>частое моргание</td></tr>
<tr><td><input id='id0848' name='var0848' type='checkbox' placeholder='$arrValues[48]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>плохая координация движений</td></tr>
<tr><td><input id='id0849' name='var0849' type='checkbox' placeholder='$arrValues[49]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>нервозность</td></tr>
<tr><td><input id='id0850' name='var0850' type='checkbox' placeholder='$arrValues[50]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>холодные конечности</td></tr>
<tr><th colspan='2'>Удана-Вайю</th></tr>
<tr><td><input id='id0851' name='var0851' type='checkbox' placeholder='$arrValues[51]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>дефекты речи</td></tr>
<tr><td><input id='id0852' name='var0852' type='checkbox' placeholder='$arrValues[52]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>икота</td></tr>
<tr><td><input id='id0853' name='var0853' type='checkbox' placeholder='$arrValues[53]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>заикание</td></tr>
<tr><td><input id='id0854' name='var0854' type='checkbox' placeholder='$arrValues[54]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>боли в горле</td></tr>
<tr><td><input id='id0855' name='var0855' type='checkbox' placeholder='$arrValues[55]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>тонзиллит</td></tr>
<tr><td><input id='id0856' name='var0856' type='checkbox' placeholder='$arrValues[56]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>сухой кашель</td></tr>
<tr><td><input id='id0857' name='var0857' type='checkbox' placeholder='$arrValues[57]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>боль в ушах</td></tr>
<tr><td><input id='id0858' name='var0858' type='checkbox' placeholder='$arrValues[58]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>сухость глаз</td></tr>
<tr><td><input id='id0859' name='var0859' type='checkbox' placeholder='$arrValues[59]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>тошнота</td></tr>
<tr><td><input id='id0860' name='var0860' type='checkbox' placeholder='$arrValues[60]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>рвота</td></tr>
<tr><td><input id='id0861' name='var0861' type='checkbox' placeholder='$arrValues[61]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>проблемы щитовидной железы</td></tr>
<tr><td><input id='id0862' name='var0862' type='checkbox' placeholder='$arrValues[62]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>болтливость</td></tr>
<tr><td><input id='id0863' name='var0863' type='checkbox' placeholder='$arrValues[63]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>лихорадочная и беспорядочная деятельность</td></tr>
<tr><td><input id='id0864' name='var0864' type='checkbox' placeholder='$arrValues[64]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>перевозбуждение</td></tr>
<tr><td><input id='id0865' name='var0865' type='checkbox' placeholder='$arrValues[65]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>утомляемость</td></tr>
<tr><td><input id='id0866' name='var0866' type='checkbox' placeholder='$arrValues[66]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>общая усталость</td></tr>
<tr><td><input id='id0867' name='var0867' type='checkbox' placeholder='$arrValues[67]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>искажение информации</td></tr>
<tr><th colspan='2'>Апана-Вайю</th></tr>
<tr><td><input id='id0868' name='var0868' type='checkbox' placeholder='$arrValues[68]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>газы</td></tr>
<tr><td><input id='id0869' name='var0869' type='checkbox' placeholder='$arrValues[69]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>запоры</td></tr>
<tr><td><input id='id0870' name='var0870' type='checkbox' placeholder='$arrValues[70]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>поносы</td></tr>
<tr><td><input id='id0871' name='var0871' type='checkbox' placeholder='$arrValues[71]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>спазмы кишечника</td></tr>
<tr><td><input id='id0872' name='var0872' type='checkbox' placeholder='$arrValues[72]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>колиты</td></tr>
<tr><td><input id='id0873' name='var0873' type='checkbox' placeholder='$arrValues[73]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>несварение</td></tr>
<tr><td><input id='id0874' name='var0874' type='checkbox' placeholder='$arrValues[74]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>сексуальные нарушения</td></tr>
<tr><td><input id='id0875' name='var0875' type='checkbox' placeholder='$arrValues[75]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>заболевания мочевого пузыря</td></tr>
<tr><td><input id='id0876' name='var0876' type='checkbox' placeholder='$arrValues[76]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>простатит</td></tr>
<tr><td><input id='id0877' name='var0877' type='checkbox' placeholder='$arrValues[77]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>заболевания почек</td></tr>
<tr><td><input id='id0878' name='var0878' type='checkbox' placeholder='$arrValues[78]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>спазмы мышц</td></tr>
<tr><td><input id='id0879' name='var0879' type='checkbox' placeholder='$arrValues[79]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>боли в пояснице</td></tr>
<tr><td><input id='id0880' name='var0880' type='checkbox' placeholder='$arrValues[80]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>судороги</td></tr>
<tr><td><input id='id0881' name='var0881' type='checkbox' placeholder='$arrValues[81]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>трудные роды</td></tr>
<tr><td><input id='id0882' name='var0882' type='checkbox' placeholder='$arrValues[82]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>выкидыш</td></tr>
<tr><td><input id='id0883' name='var0883' type='checkbox' placeholder='$arrValues[83]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>дисфункция половых органов</td></tr>
<tr><td><input id='id0884' name='var0884' type='checkbox' placeholder='$arrValues[84]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>нарушениие менст цикла</td></tr>
<tr><td><input id='id0885' name='var0885' type='checkbox' placeholder='$arrValues[85]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>аменорея</td></tr>
<tr><td><input id='id0886' name='var0886' type='checkbox' placeholder='$arrValues[86]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>дисменорея</td></tr>
<tr><td><input id='id0887' name='var0887' type='checkbox' placeholder='$arrValues[87]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>ПМС</td></tr>
<tr><td><input id='id0888' name='var0888' type='checkbox' placeholder='$arrValues[88]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>цистит</td></tr>
<tr><td><input id='id0889' name='var0889' type='checkbox' placeholder='$arrValues[89]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>диабет</td></tr>
</table>

<div id='idSubmit'>
  <input type='button' value='Отправить' onClick='fncSubmitForm( $intForm, $intFields );'>
  <input id='idFormsCompleted' type='hidden' value='$strFormsCompleted'>
</div>
</form>

<div id='idExitLink'>
  <a href='./client-cabinet-page.php?varIdKey=$strIdKey'>На главную страницу кабинета</a>
</div>
