<h3 id='idHeader3'>Кабинет - $strClientNameFirst $strClientNameLast</h3>
<h4 id='idHeader4'>Опроснaя формa - Дисбаланс поддош Питта</h4>

<div class='clComments'>
Перечислите все имеющиеся симптомы.
</div>
<br>

<form id='idMain' name='varMain' method='post' action='./client-form-proc.php?varIdKey=$strIdKey&amp;varForm=$intForm&amp;varFields=$intFields'>

<table>
<tr><th colspan='2'>Пачака-питта</th></tr>
<tr><td><input id='id0901' name='var0901' type='checkbox' placeholder='$arrValues[1]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>язва</td></tr>
<tr><td><input id='id0902' name='var0902' type='checkbox' placeholder='$arrValues[2]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>повышенная кислотность</td></tr>
<tr><td><input id='id0903' name='var0903' type='checkbox' placeholder='$arrValues[3]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>нарушение пищеварения</td></tr>
<tr><td><input id='id0904' name='var0904' type='checkbox' placeholder='$arrValues[4]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>изжога</td></tr>
<tr><td><input id='id0905' name='var0905' type='checkbox' placeholder='$arrValues[5]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>диспепсия</td></tr>
<tr><td><input id='id0906' name='var0906' type='checkbox' placeholder='$arrValues[6]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>понос</td></tr>
<tr><td><input id='id0907' name='var0907' type='checkbox' placeholder='$arrValues[7]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>внутренние кровотечения</td></tr>
<tr><td><input id='id0908' name='var0908' type='checkbox' placeholder='$arrValues[8]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>анемия</td></tr>
<tr><td><input id='id0909' name='var0909' type='checkbox' placeholder='$arrValues[9]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>бели</td></tr>
<tr><td><input id='id0910' name='var0910' type='checkbox' placeholder='$arrValues[10]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>кандидоз</td></tr>
<tr><td><input id='id0911' name='var0911' type='checkbox' placeholder='$arrValues[11]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>желтуха</td></tr>
<tr><td><input id='id0912' name='var0912' type='checkbox' placeholder='$arrValues[12]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>гепатит</td></tr>
<tr><th colspan='2'>Садака-питта</th></tr>
<tr><td><input id='id0913' name='var0913' type='checkbox' placeholder='$arrValues[13]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>сердечные приступы</td></tr>
<tr><td><input id='id0914' name='var0914' type='checkbox' placeholder='$arrValues[14]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>сердечная недостаточность</td></tr>
<tr><td><input id='id0915' name='var0915' type='checkbox' placeholder='$arrValues[15]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>гормональные нарушения</td></tr>
<tr><td><input id='id0916' name='var0916' type='checkbox' placeholder='$arrValues[16]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>головной жар</td></tr>
<tr><td><input id='id0917' name='var0917' type='checkbox' placeholder='$arrValues[17]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>эмоциональные расстройства</td></tr>
<tr><td><input id='id0918' name='var0918' type='checkbox' placeholder='$arrValues[18]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>бессонница</td></tr>
<tr><td><input id='id0919' name='var0919' type='checkbox' placeholder='$arrValues[19]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>раздражительность</td></tr>
<tr><td><input id='id0920' name='var0920' type='checkbox' placeholder='$arrValues[20]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>гнев</td></tr>
<tr><td><input id='id0921' name='var0921' type='checkbox' placeholder='$arrValues[21]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>безрассудство</td></tr>
<tr><td><input id='id0922' name='var0922' type='checkbox' placeholder='$arrValues[22]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>чрезмерная критичность</td></tr>
<tr><th colspan='2'>Бхраджака-питта</th></tr>
<tr><td><input id='id0923' name='var0923' type='checkbox' placeholder='$arrValues[23]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>воспаление кожи</td></tr>
<tr><td><input id='id0924' name='var0924' type='checkbox' placeholder='$arrValues[24]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>угри</td></tr>
<tr><td><input id='id0925' name='var0925' type='checkbox' placeholder='$arrValues[25]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>фурункулы</td></tr>
<tr><td><input id='id0926' name='var0926' type='checkbox' placeholder='$arrValues[26]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>жжение</td></tr>
<tr><td><input id='id0927' name='var0927' type='checkbox' placeholder='$arrValues[27]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>грибковые поражения кожи</td></tr>
<tr><td><input id='id0928' name='var0928' type='checkbox' placeholder='$arrValues[28]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>подкожные кровотечения</td></tr>
<tr><td><input id='id0929' name='var0929' type='checkbox' placeholder='$arrValues[29]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>ревматический артрит</td></tr>
<tr><td><input id='id0930' name='var0930' type='checkbox' placeholder='$arrValues[30]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>непереносимость солнечного света</td></tr>
<tr><th colspan='2'>Ранджака-питта</th></tr>
<tr><td><input id='id0931' name='var0931' type='checkbox' placeholder='$arrValues[31]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>нарывы</td></tr>
<tr><td><input id='id0932' name='var0932' type='checkbox' placeholder='$arrValues[32]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>заболевания  крови</td></tr>
<tr><td><input id='id0933' name='var0933' type='checkbox' placeholder='$arrValues[33]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>гепатит</td></tr>
<tr><td><input id='id0934' name='var0934' type='checkbox' placeholder='$arrValues[34]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>желтуха</td></tr>
<tr><td><input id='id0935' name='var0935' type='checkbox' placeholder='$arrValues[35]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>увеличении печени и селезёнки</td></tr>
<tr><td><input id='id0936' name='var0936' type='checkbox' placeholder='$arrValues[36]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>анемия</td></tr>
<tr><td><input id='id0937' name='var0937' type='checkbox' placeholder='$arrValues[37]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>избыточные месячные</td></tr>
<tr><td><input id='id0938' name='var0938' type='checkbox' placeholder='$arrValues[38]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>скудные месячные</td></tr>
<tr><td><input id='id0939' name='var0939' type='checkbox' placeholder='$arrValues[39]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>внутренние кровотечения</td></tr>
<tr><td><input id='id0940' name='var0940' type='checkbox' placeholder='$arrValues[40]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>эндометрит</td></tr>
<tr><td><input id='id0941' name='var0941' type='checkbox' placeholder='$arrValues[41]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>цистит</td></tr>
<tr><td><input id='id0942' name='var0942' type='checkbox' placeholder='$arrValues[42]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>гнев</td></tr>
<tr><td><input id='id0943' name='var0943' type='checkbox' placeholder='$arrValues[43]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>сильный перегрев тела</td></tr>
<tr><th colspan='2'>Алочака-питта</th></tr>
<tr><td><input id='id0944' name='var0944' type='checkbox' placeholder='$arrValues[44]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>глазные заболевания</td></tr>
<tr><td><input id='id0945' name='var0945' type='checkbox' placeholder='$arrValues[45]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>глазные проблемы</td></tr>
<tr><td><input id='id0946' name='var0946' type='checkbox' placeholder='$arrValues[46]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>потеря зрения</td></tr>
<tr><td><input id='id0947' name='var0947' type='checkbox' placeholder='$arrValues[47]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>покраснение и жжение глаз</td></tr>
<tr><td><input id='id0948' name='var0948' type='checkbox' placeholder='$arrValues[48]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>непереносимость яркого света</td></tr>
<tr><td><input id='id0949' name='var0949' type='checkbox' placeholder='$arrValues[49]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>головная и ушная боли</td></tr>
<tr><td><input id='id0950' name='var0950' type='checkbox' placeholder='$arrValues[50]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>нарушение психического равновесия</td></tr>
<tr><td><input id='id0951' name='var0951' type='checkbox' placeholder='$arrValues[51]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>гормональные проблемы</td></tr>
<tr><td><input id='id0952' name='var0952' type='checkbox' placeholder='$arrValues[52]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>всевозможные аллергии</td></tr>
</table>

<div id='idSubmit'>
  <input type='button' value='Отправить' onClick='fncSubmitForm( $intForm, $intFields );'>
  <input id='idFormsCompleted' type='hidden' value='$strFormsCompleted'>
</div>
</form>

<div id='idExitLink'>
  <a href='./client-cabinet-page.php?varIdKey=$strIdKey'>На главную страницу кабинета</a>
</div>
