<h3 id='idHeader3'>Кабинет - $strClientNameFirst $strClientNameLast</h3>
<h4 id='idHeader4'>Опроснaя формa - Дисбаланс поддош Капха</h4>

<div class='clComments'>
Перечислите все имеющиеся симптомы.
</div>
<br>

<form id='idMain' name='varMain' method='post' action='./client-form-proc.php?varIdKey=$strIdKey&amp;varForm=$intForm&amp;varFields=$intFields'>

<table>
<tr><th colspan='2'>Бодхака-капха</th></tr>
<tr><td><input id='id1001' name='var1001' type='checkbox' placeholder='$arrValues[1]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>все заболевания слюнных желёз</td></tr>
<tr><td><input id='id1002' name='var1002' type='checkbox' placeholder='$arrValues[2]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>щитовидка (гипертиреоз)</td></tr>
<tr><td><input id='id1003' name='var1003' type='checkbox' placeholder='$arrValues[3]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>щитовидка (гипотиреоз)</td></tr>
<tr><td><input id='id1004' name='var1004' type='checkbox' placeholder='$arrValues[4]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>все опухолевые заболевания</td></tr>
<tr><td><input id='id1005' name='var1005' type='checkbox' placeholder='$arrValues[5]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>аллергии</td></tr>
<tr><td><input id='id1006' name='var1006' type='checkbox' placeholder='$arrValues[6]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>заложенный нос и насморк</td></tr>
<tr><td><input id='id1007' name='var1007' type='checkbox' placeholder='$arrValues[7]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>слезящиеся глаза</td></tr>
<tr><td><input id='id1008' name='var1008' type='checkbox' placeholder='$arrValues[8]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>притупление чувств</td></tr>
<tr><td><input id='id1009' name='var1009' type='checkbox' placeholder='$arrValues[9]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>потеря вкуса и аппетита</td></tr>
<tr><td><input id='id1010' name='var1010' type='checkbox' placeholder='$arrValues[10]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>пищевые аллергии</td></tr>
<tr><td><input id='id1011' name='var1011' type='checkbox' placeholder='$arrValues[11]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>тучность</td></tr>
<tr><td><input id='id1012' name='var1012' type='checkbox' placeholder='$arrValues[12]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>диабет</td></tr>
<tr><td><input id='id1013' name='var1013' type='checkbox' placeholder='$arrValues[13]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>застойные явления</td></tr>
<tr><th colspan='2'>Кледака-капха</th></tr>
<tr><td><input id='id1014' name='var1014' type='checkbox' placeholder='$arrValues[14]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>переизбыток слизи</td></tr>
<tr><td><input id='id1015' name='var1015' type='checkbox' placeholder='$arrValues[15]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>замедленное пищеварение</td></tr>
<tr><td><input id='id1016' name='var1016' type='checkbox' placeholder='$arrValues[16]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>нарушения пищеварения</td></tr>
<tr><td><input id='id1017' name='var1017' type='checkbox' placeholder='$arrValues[17]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>вспучивание и бурчание в животе</td></tr>
<tr><td><input id='id1018' name='var1018' type='checkbox' placeholder='$arrValues[18]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>тошнота</td></tr>
<tr><td><input id='id1019' name='var1019' type='checkbox' placeholder='$arrValues[19]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>отрыжка и рвота</td></tr>
<tr><td><input id='id1020' name='var1020' type='checkbox' placeholder='$arrValues[20]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>плохой аппетит</td></tr>
<tr><td><input id='id1021' name='var1021' type='checkbox' placeholder='$arrValues[21]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>эндометриоз</td></tr>
<tr><td><input id='id1022' name='var1022' type='checkbox' placeholder='$arrValues[22]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>проблемы с кровью</td></tr>
<tr><td><input id='id1023' name='var1023' type='checkbox' placeholder='$arrValues[23]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>ослабленный иммунитет</td></tr>
<tr><td><input id='id1024' name='var1024' type='checkbox' placeholder='$arrValues[24]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>замедленный  обмен веществ</td></tr>
<tr><td><input id='id1025' name='var1025' type='checkbox' placeholder='$arrValues[25]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>диабет</td></tr>
<tr><td><input id='id1026' name='var1026' type='checkbox' placeholder='$arrValues[26]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>аллергии</td></tr>
<tr><td><input id='id1027' name='var1027' type='checkbox' placeholder='$arrValues[27]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>маточные опухоли или кисты</td></tr>
<tr><td><input id='id1028' name='var1028' type='checkbox' placeholder='$arrValues[28]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>бели</td></tr>
<tr><td><input id='id1029' name='var1029' type='checkbox' placeholder='$arrValues[29]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>потеря вкуса</td></tr>
<tr><td><input id='id1030' name='var1030' type='checkbox' placeholder='$arrValues[30]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>чувство тяжести или усталости</td></tr>
<tr><td><input id='id1031' name='var1031' type='checkbox' placeholder='$arrValues[31]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>головные боли</td></tr>
<tr><td><input id='id1032' name='var1032' type='checkbox' placeholder='$arrValues[32]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>лишний вес</td></tr>
<tr><th colspan='2'>Тарпака-капха</th></tr>
<tr><td><input id='id1033' name='var1033' type='checkbox' placeholder='$arrValues[33]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>эндокринные заболевания</td></tr>
<tr><td><input id='id1034' name='var1034' type='checkbox' placeholder='$arrValues[34]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>аллергия</td></tr>
<tr><td><input id='id1035' name='var1035' type='checkbox' placeholder='$arrValues[35]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>раздражение носовых пазух</td></tr>
<tr><td><input id='id1036' name='var1036' type='checkbox' placeholder='$arrValues[36]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>потеря обоняния</td></tr>
<tr><td><input id='id1037' name='var1037' type='checkbox' placeholder='$arrValues[37]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>общая вялость</td></tr>
<tr><td><input id='id1038' name='var1038' type='checkbox' placeholder='$arrValues[38]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>дневная сонливость</td></tr>
<tr><td><input id='id1039' name='var1039' type='checkbox' placeholder='$arrValues[39]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>эмоциональные привязанности</td></tr>
<tr><td><input id='id1040' name='var1040' type='checkbox' placeholder='$arrValues[40]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>депрессии</td></tr>
<tr><td><input id='id1041' name='var1041' type='checkbox' placeholder='$arrValues[41]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>печали</td></tr>
<tr><td><input id='id1042' name='var1042' type='checkbox' placeholder='$arrValues[42]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>подавленности</td></tr>
<tr><td><input id='id1043' name='var1043' type='checkbox' placeholder='$arrValues[43]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>все психические заболевания</td></tr>
<tr><td><input id='id1044' name='var1044' type='checkbox' placeholder='$arrValues[44]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>все поражения и нарушения ЦНС</td></tr>
<tr><td><input id='id1045' name='var1045' type='checkbox' placeholder='$arrValues[45]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>парализация</td></tr>
<tr><td><input id='id1046' name='var1046' type='checkbox' placeholder='$arrValues[46]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>катаракта</td></tr>
<tr><td><input id='id1047' name='var1047' type='checkbox' placeholder='$arrValues[47]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>опухоли мозга</td></tr>
<tr><td><input id='id1048' name='var1048' type='checkbox' placeholder='$arrValues[48]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>головные боли</td></tr>
<tr><td><input id='id1049' name='var1049' type='checkbox' placeholder='$arrValues[49]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>психические заболевания</td></tr>
<tr><td><input id='id1050' name='var1050' type='checkbox' placeholder='$arrValues[50]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>потеря обоняния</td></tr>
<tr><td><input id='id1051' name='var1051' type='checkbox' placeholder='$arrValues[51]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>раздражительность</td></tr>
<tr><th colspan='2'>Аваламбака-капха</th></tr>
<tr><td><input id='id1052' name='var1052' type='checkbox' placeholder='$arrValues[52]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>застой в лёгких или сердце</td></tr>
<tr><td><input id='id1053' name='var1053' type='checkbox' placeholder='$arrValues[53]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>распухании шейных желёз</td></tr>
<tr><td><input id='id1054' name='var1054' type='checkbox' placeholder='$arrValues[54]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>опухоли и кисты молочных желёз</td></tr>
<tr><td><input id='id1055' name='var1055' type='checkbox' placeholder='$arrValues[55]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>обилие слизи</td></tr>
<tr><td><input id='id1056' name='var1056' type='checkbox' placeholder='$arrValues[56]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>мокрый кашель</td></tr>
<tr><td><input id='id1057' name='var1057' type='checkbox' placeholder='$arrValues[57]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>затруднённом дыхании</td></tr>
<tr><td><input id='id1058' name='var1058' type='checkbox' placeholder='$arrValues[58]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>все заболевания дыхательных путей</td></tr>
<tr><td><input id='id1059' name='var1059' type='checkbox' placeholder='$arrValues[59]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>астма</td></tr>
<tr><td><input id='id1060' name='var1060' type='checkbox' placeholder='$arrValues[60]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>заболевания лёгких</td></tr>
<tr><td><input id='id1061' name='var1061' type='checkbox' placeholder='$arrValues[61]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>дистрофия</td></tr>
<tr><td><input id='id1062' name='var1062' type='checkbox' placeholder='$arrValues[62]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>все заболевания соединительных тканей</td></tr>
<tr><td><input id='id1063' name='var1063' type='checkbox' placeholder='$arrValues[63]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>вялость</td></tr>
<tr><td><input id='id1064' name='var1064' type='checkbox' placeholder='$arrValues[64]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>ноющие боли в пояснице</td></tr>
<tr><td><input id='id1065' name='var1065' type='checkbox' placeholder='$arrValues[65]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>все заболевания позвоночника</td></tr>
<tr><th colspan='2'>Шлешака капха</th></tr>
<tr><td><input id='id1066' name='var1066' type='checkbox' placeholder='$arrValues[66]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>заболевания сосудов</td></tr>
<tr><td><input id='id1067' name='var1067' type='checkbox' placeholder='$arrValues[67]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>тромбофлебиты и другие заболевания вен</td></tr>
<tr><td><input id='id1068' name='var1068' type='checkbox' placeholder='$arrValues[68]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>опухание суставов</td></tr>
<tr><td><input id='id1069' name='var1069' type='checkbox' placeholder='$arrValues[69]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>накопление в них жидкости</td></tr>
<tr><td><input id='id1070' name='var1070' type='checkbox' placeholder='$arrValues[70]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>болтающиеся суставы</td></tr>
<tr><td><input id='id1071' name='var1071' type='checkbox' placeholder='$arrValues[71]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>слабые суставы</td></tr>
<tr><td><input id='id1072' name='var1072' type='checkbox' placeholder='$arrValues[72]' onBlur='fncOnBlur( this )'></td><td class='clInputName02'>замедленные болезненные движения</td></tr>
</table>

<div id='idSubmit'>
  <input type='button' value='Отправить' onClick='fncSubmitForm( $intForm, $intFields );'>
  <input id='idFormsCompleted' type='hidden' value='$strFormsCompleted'>
</div>
</form>

<div id='idExitLink'>
  <a href='./client-cabinet-page.php?varIdKey=$strIdKey'>На главную страницу кабинета</a>
</div>
