#idIndexTitles
{
  margin:               0.750rem 0.000rem 0.000rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
}

.clSong
{
  margin:               1.000rem 0.000rem 1.000rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
}

.clAudio
{
  margin:               0.500rem 0.000rem 1.000rem -0.750rem;
  padding:              0.000rem 0.000rem 0.000rem  0.000rem;
}

.clText
{
  margin:               1.000rem 0.000rem 1.000rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
}
