#--------------------------------------------------------------------------------------------------

#ErrorDocument 401 default
#ErrorDocument 403 default

#--------------------------------------------------------------------------------------------------

AuthType Basic
AuthName "Restricted Content"
AuthBasicProvider file
AuthUserFile /home/galatqxu/mnt/data/Safe/Settings/.local/share/htpasswds/site/wp-admin/passwd
Require valid-user

#--------------------------------------------------------------------------------------------------

Order Allow,Deny
Allow from all

#--------------------------------------------------------------------------------------------------
# Deny Directory View
#--------------------------------------------------------------------------------------------------

Options All -Indexes

#--------------------------------------------------------------------------------------------------
# Deny .htaccess
#--------------------------------------------------------------------------------------------------

<Files .htaccess>
Order allow,deny
Deny from all
</Files>

#--------------------------------------------------------------------------------------------------
