/*--------------------------------------------------------------------------------------------------*/

table, th, td
{
  border:               none;
}

#idTopbar
{
  width:                100.00%;
}

#idPanel,
#idTopbarNavigation
{
  width:                70.00% !important;
}

@media screen and (max-device-width: 600px) { #idPanel, #idTopbarNavigation { width: 100.00% !important; } }

/*--------------------------------------------------------------------------------------------------*/

.clOverflow
{
  margin:              -2.000rem 0.000rem 0.000rem 0.000rem;
}

/*--------------------------------------------------------------------------------------------------*/

.clTableIndex a,
.clTableIndex a:visited
{
  color:                #aa0000 !important;
  text-decoration:      none;
}

.clTableIndex a:hover
{
  color:                #ff0000 !important;
  text-decoration:      none;
}

/*--------------------------------------------------------------------------------------------------*/

.clIndexFr
{
  border-top:           0.000rem solid #333333;
  border-left:          0.000rem solid #333333;
  font-size:            1.000rem;
  line-height:          1.500rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
  text-align:           left;
  vertical-align:       middle;
}

.clIndexRu
{
  border-top:           0.000rem solid #333333;
  border-left:          0.000rem solid #333333;
  color:                #555555;
  font-size:            1.000rem;
  line-height:          1.500rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
  text-align:           left;
  vertical-align:       20%
}

/*--------------------------------------------------------------------------------------------------*/

h1
{
  margin:               0.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
}

h2
{
  margin:               0.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
}

h3
{
  margin:               0.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
}

h4
{
  margin:               0.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
}

p
{
  margin:               0.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
}

/*--------------------------------------------------------------------------------------------------*/

h1 + h2
{
  margin-top:         -1.000rem;
}

h2 + p
{
  margin-top:         -1.000rem;
}

td h4
{
  margin-top:         -1.500rem;
}

p + table
{
  margin-top:         -1.000rem;
}

h3 + h4
{
  margin-top:          -0.750rem;
}

/*--------------------------------------------------------------------------------------------------*/

h1
{
  font-size:            1.500rem;
}


h2
{
  font-size:            1.125rem;
}

h3
{
  color:                #555555;
  font-size:            1.000rem;
  font-style:           normal;
  font-variant:         small-caps;
  font-weight:          normal;
  margin:               0.000rem 0.000rem 1.000rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
}

h4
{
  color:                #555555;
  font-size:            1.000rem;
  font-style:           italic;
  font-weight:          normal;
}

/*--------------------------------------------------------------------------------------------------*/

.clPronoun
{
  color:                #1F7099;
}

.clVerb
{
  color:                #aa0000;
}

.clParticiple
{
  color:                #550000;
}

/*--------------------------------------------------------------------------------------------------*/

table.clTableExt
{
  margin:              -2.000rem 0.000rem 0.000rem 0.000rem;
  padding:              0.000rem 0.000rem 0.000rem 0.000rem;
}

h4
{
  margin:               0.000rem 0.000rem -1.000rem 0.000rem;
  padding:              0.000rem 0.000rem  0.000rem 0.000rem;
}

/*--------------------------------------------------------------------------------------------------*/

td
{
  padding-left:         0.000rem;
}

/*--------------------------------------------------------------------------------------------------*/
